.App {
  text-align: center;
  background-color: rgb(171, 177, 179);
}
.custom-nav{
  color: ghostwhite;
  font-size: 50px;
  margin-left: 25%;
  font-weight: 900;
  font-family: 'Courier New', Courier, monospace;
  
  
}

.app__form{
  padding: 15px;
  position:fixed;
  bottom: 0px;
  z-index: 2;
  background-color: rgb(201, 201, 201);
  width: 100%;
  margin: 0px;

}
.app__formControl{
  display: flex !important;
  flex-direction: row !important;
}
.app__input{
  flex:1% ;
}

.app__iconButton{
  flex:0;
}

h1{
  font-weight: bolder;
  font-style: oblique;
  font-size: 65px;
}

 
